<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
  <dict>
    <key>CFBundleIdentifier</key>
    <string>be.fedict.eidviewer</string>
    <key>CFBundleName</key>
    <string>eID Viewer</string>
    <key>CFBundleVersion</key>
    <string>${project.version} ${eid-viewer-osx.revision}</string>
     <key>CFBundleShortVersionString</key>
     <string>${project.version}</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIconFile</key>
    <string>eid-viewer.icns</string>	
    <key>LSArchitecturePriority</key>
    <array>
        <string>i386</string>
        <string>x86_64</string>
    </array>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>be.fedict.eidviewer.gui.BelgianEidViewer</string>
      <key>JVMVersion</key>
      <string>1.6+</string>
	  <key>Properties</key>
	  <dict>
		<key>apple.laf.useScreenMenuBar</key>
		<string>true</string>
      </dict>
      <key>ClassPath</key>
      <array>
          <string>$JAVAROOT/eid-viewer-gui-${project.version}.jar</string>
      </array>
    </dict>
  </dict>
</plist>

